<!DOCTYPE html>
<html>
<head>
  <title>Pod 55</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <br><br>
    <h1>Roles</h1>
    <br><br>
    <a class="btn btn-warning" role="button" href="{{ url_for('home') }}">create</a>
    <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">logout</a>
    <a class="btn btn-warning" role="button" href="{{ url_for('search') }}">table</a>
    <br><br>
    <form action="{{ url_for('search') }}" method="get" class="from-group">
        <dl>
          <dt>Search:</dt>
          <dd><input type="text" name="query" class="form-control col-sm-4" ></dd>
          <br>
          <dd><input type="submit" class="btn btn-info" value="Search" ></dd>
        </dl>
    </form>
    <div class="card-columns">
        {% for entry in entries %}
        <div class="card" style="width: 18rem; max-height: 20 rem;">
            <div class="card-body">
                <h5 class="card-title">{{ entry.assigned_role }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ entry.work_location }}</h6>
                <p class="card-text">{{ entry.talent_segment }}</p>
                <a href="#" class="card-link">More info</a>
                <p class="card-text"><small class="text-muted">Posted on {{ entry.created_date }}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>