<!DOCTYPE html>
<html>
<head>
  <title>Pod 55</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <br><br>
    <h1>Roles</h1>
    <br><br>
    <a class="btn btn-warning" role="button" href="{{ url_for('home') }}">create</a>
    <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">logout</a>
    <a class="btn btn-warning" role="button" href="{{ url_for('search') }}">table</a>
    <br><br>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        {% for entry in entries %}
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ entry.assignment_title }}</h5>
              <p class="card-text">{{ entry.description }}</p>
              <p class="card-text"><small class="text-muted">Posted on {{ entry.created_date }}</small></p>
            </div>
        </div>
        {% endfor %}
      </div>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>