{% extends "theme.html" %}
{% block form %}
<br><br>
{% if not session.logged_in %}
  <a class="btn btn-success" role="button" href="{{ url_for('login') }}">log in</a>
{% else %}
  <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">log out</a>
{% endif %}
<a class="btn btn-info" role="button" href="{{ url_for('search') }}">Search</a>

<br><br>
{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method="post" class="add_entry form-group">
  <dl>
    <dt>Assignment ID:</dt>
    <dd><input type="number" size="30" name="assignment_id" class="form-control col-sm-4"></dd>
    <dt>Demand Type:</dt>
    <dd><input type="text" size="30" name="demand_type" class="form-control col-sm-4"></dd>
    <dt>Career Track:</dt>
    <dd><input type="text" size="30" name="career_track" class="form-control col-sm-4"></dd>
    <dt>location_radius:</dt>
    <dd><input type="text" size="30" name="location_radius" class="form-control col-sm-4"></dd>
    <dt>source_location:</dt>
    <dd><input type="text" size="30" name="source_location" class="form-control col-sm-4"></dd>
    <dt>GU:</dt>
    <dd><input type="text" size="30" name="gu" class="form-control col-sm-4"></dd>
    <dt>assignment_fulfillment_entity:</dt>
    <dd><input type="text" size="30" name="assignment_fulfillment_entity" class="form-control col-sm-4"></dd>
    <dt>client:</dt>
    <dd><input type="text" size="30" name="client" class="form-control col-sm-4"></dd>
    <dt>project:</dt>
    <dd><input type="text" size="30" name="project" class="form-control col-sm-4"></dd>
    <dt>project_metro_city:</dt>
    <dd><input type="text" size="30" name="project_metro_city" class="form-control col-sm-4"></dd>
    <dt>project_supervising_entity:</dt>
    <dd><input type="text" size="30" name="project_supervising_entity" class="form-control col-sm-4"></dd>
    <dt>project_client_supply_demand_specialist:</dt>
    <dd><input type="text" size="30" name="project_client_supply_demand_specialist" class="form-control col-sm-4"></dd>
    <dt>sold:</dt>
    <dd><input type="text" size="30" name="sold" placeholder="Yes/No" class="form-control col-sm-4"></dd>
    <dt>gcp_preference:</dt>
    <dd><input type="text" size="30" name="gcp_preference" placeholder="Y/N" class="form-control col-sm-4"></dd>
    <dt>client_contract_based:</dt>
    <dd><input type="text" size="30" name="client_contract_based" placeholder="Yes/No" class="form-control col-sm-4"></dd>
    <dt>assignment_title:</dt>
    <dd><input type="text" size="30" name="assignment_title" class="form-control col-sm-4"></dd>
    <dt>description:</dt>
    <dd><input type="text" size="30" name="description" class="form-control col-sm-4"></dd>
    <dt>fulfillment_channel:</dt>
    <dd><input type="text" size="30" name="fulfillment_channel" class="form-control col-sm-4"></dd>
    <dt>created_date:</dt>
    <dd><input type="text" size="30" name="created_date" placeholder="yyyy-mm-dd" class="form-control col-sm-4"></dd>
    <dt>source:</dt>
    <dd><input type="text" size="30" name="source" class="form-control col-sm-4"></dd>
    <dt>requested_start_date:</dt>
    <dd><input type="text" size="30" name="requested_start_date" placeholder="yyyy-mm-dd" class="form-control col-sm-4"></dd>
    <dt>end_date:</dt>
    <dd><input type="text" size="30" name="end_date" placeholder="yyyy-mm-dd" class="form-control col-sm-4"></dd>
    <dt>status:</dt>
    <dd><input type="text" size="30" name="status" class="form-control col-sm-4"></dd>
    <dt>career_level_from:</dt>
    <dd><input type="number" size="30" name="career_level_from" class="form-control col-sm-4"></dd>
    <dt>career_level_to:</dt>
    <dd><input type="number" size="30" name="career_level_to" class="form-control col-sm-4"></dd>
    <dt>talent_segment:</dt>
    <dd><input type="text" size="30" name="talent_segment" class="form-control col-sm-4"></dd>
    <dt>assigned_role:</dt>
    <dd><input type="text" size="30" name="assigned_role" class="form-control col-sm-4"></dd>
    <dt>work_location:</dt>
    <dd><input type="text" size="30" name="work_location" class="form-control col-sm-4"></dd>
    <dt>assignment_primary_specialization_level_one:</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_one" class="form-control col-sm-4"></dd>
    <dt>assignment_primary_specialization_level_two:</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_two" class="form-control col-sm-4"></dd>
    <dt>assignment_primary_specialization_level_three:</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_three" class="form-control col-sm-4"></dd>
    <dt>assignment_primary_specialization_level_four:</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_four" class="form-control col-sm-4"></dd>
    <dt>assignment_primary_specialization_level_five:</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_five" class="form-control col-sm-4"></dd>
    <dt>assignment_primary_specialization_paths:</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_paths" class="form-control col-sm-4"></dd>
    <dt>skill_and_proficiency:</dt>
    <dd><input type="text" size="30" name="skill_and_proficiency" class="form-control col-sm-4"></dd>
    <dt>primary_contact:</dt>
    <dd><input type="text" size="30" name="primary_contact" class="form-control col-sm-4"></dd>
    <dt>assignment_audit:</dt>
    <dd><input type="text" size="30" name="assignment_audit" class="form-control col-sm-4"></dd>
    <dt>role_client_supply_demand_specialist:</dt>
    <dd><input type="text" size="30" name="role_client_supply_demand_specialist" class="form-control col-sm-4"></dd>
    <dt>candidates:</dt>
    <dd><input type="number" size="30" name="candidates" class="form-control col-sm-4"></dd>
    <br>
    <dd><input type="submit" class="btn btn-primary" value="Add"></dd>
  </dl>
</form>
{% endif %}

<h1>{{ example }}</h1>
{% endblock %}
