{% extends "theme.html" %}
{% block form %}
<br><br>
{% if not session.logged_in %}
  <a class="btn btn-success" role="button" href="{{ url_for('login') }}">log in</a>
{% else %}
  <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">log out</a>
{% endif %}
<a class="btn btn-info" role="button" href="{{ url_for('search') }}">Search</a>

<br><br>
{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method="post" class="add-entry form-group">
  <dl>
    <dt>Title:</dt>
    <dd><input type="text" size="30" name="title" class="form-control col-sm-4"></dd>
    <dt>Text:</dt>
    <dd><textarea name="text" rows="5" cols="40" class="form-control col-sm-4"></textarea></dd>
    <br><br>
    <dd><input type="submit" class="btn btn-primary" value="Share"></dd>
  </dl>
</form>
{% endif %}

<h1>{{ example }}</h1>
{% endblock %}
