{% extends "theme.html" %}
{% block form %}
<h1>Create a new role</h1>
<br><br>
{% if not session.logged_in %}
  <a class="btn btn-success" role="button" href="{{ url_for('login') }}">log in</a>
{% else %}
  <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">log out</a>
{% endif %}
<a class="btn btn-info" role="button" href="{{ url_for('search') }}">Search</a>

<br><br>
{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method="post" class="add_entry form-group">
  <dl>
    <dt>Assignment ID</dt>
    <dd><input type="number" size="30" name="assignment_id" class="form-control col-sm-4"></dd>
    <dt>Demand Type</dt>
    <dd><input type="text" size="30" name="demand_type" class="form-control col-sm-4"></dd>
    <dt>Career Track</dt>
    <dd><input type="text" size="30" name="career_track" class="form-control col-sm-4"></dd>
    <dt>Location Radius</dt>
    <dd><input type="text" size="30" name="location_radius" class="form-control col-sm-4"></dd>
    <dt>Source Location</dt>
    <dd><input type="text" size="30" name="source_location" class="form-control col-sm-4"></dd>
    <dt>GU</dt>
    <dd><input type="text" size="30" name="gu" class="form-control col-sm-4"></dd>
    <dt>Assignment Fulfillment Entity</dt>
    <dd><input type="text" size="30" name="assignment_fulfillment_entity" class="form-control col-sm-4"></dd>
    <dt>Client</dt>
    <dd><input type="text" size="30" name="client" class="form-control col-sm-4"></dd>
    <dt>Project</dt>
    <dd><input type="text" size="30" name="project" class="form-control col-sm-4"></dd>
    <dt>Project Metro City</dt>
    <dd><input type="text" size="30" name="project_metro_city" class="form-control col-sm-4"></dd>
    <dt>Project supervising_entity</dt>
    <dd><input type="text" size="30" name="project_supervising_entity" class="form-control col-sm-4"></dd>
    <dt>Project client supply demand specialist</dt>
    <dd><input type="text" size="30" name="project_client_supply_demand_specialist" class="form-control col-sm-4"></dd>
    
    <dt>Sold</dt>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="sold" id="sold_yes" value="Yes">
      <label class="form-check-label" for="sold_yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="sold" id="sold_no" value="No">
      <label class="form-check-label" for="sold_no">No</label>
    </div>
    
    <dt>GCP Preference</dt>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gcp_preference" id="gcp_preference_yes" value="Y">
      <label class="form-check-label" for="gcp_preference_yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gcp_preference" id="gcp_preference_no" value="N">
      <label class="form-check-label" for="gcp_preference_no">No</label>
    </div>

    <dt>Client Contract Based</dt>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="client_contract_based" id="client_contract_based_yes" value="Yes">
      <label class="form-check-label" for="client_contract_based_yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="client_contract_based" id="client_contract_based_no" value="No">
      <label class="form-check-label" for="client_contract_based_no">No</label>
    </div>    
    
    <dt>Assignment Title</dt>
    <dd><input type="text" size="30" name="assignment_title" class="form-control col-sm-4"></dd>
    <dt>Description</dt>
    <dd><input type="text" size="30" name="description" class="form-control col-sm-4"></dd>
    <dt>Fulfillment Channel</dt>
    <dd><input type="text" size="30" name="fulfillment_channel" class="form-control col-sm-4"></dd>
    <dt>Created Date</dt>
    <dd><input type="text" size="30" name="created_date" placeholder="yyyy-mm-dd" class="form-control col-sm-4"></dd>
    <dt>Source</dt>
    <dd><input type="text" size="30" name="source" class="form-control col-sm-4"></dd>
    <dt>Requested Start Date</dt>
    <dd><input type="text" size="30" name="requested_start_date" placeholder="yyyy-mm-dd" class="form-control col-sm-4"></dd>
    <dt>End Date</dt>
    <dd><input type="text" size="30" name="end_date" placeholder="yyyy-mm-dd" class="form-control col-sm-4"></dd>
    <dt>Status</dt>
    <dd><input type="text" size="30" name="status" class="form-control col-sm-4"></dd>
    <dt>Career Level From</dt>
    <dd><input type="number" size="30" name="career_level_from" class="form-control col-sm-4"></dd>
    <dt>Career Level To</dt>
    <dd><input type="number" size="30" name="career_level_to" class="form-control col-sm-4"></dd>
    <dt>Talent Segment</dt>
    <dd><input type="text" size="30" name="talent_segment" class="form-control col-sm-4"></dd>
    <dt>Assigned Role</dt>
    <dd><input type="text" size="30" name="assigned_role" class="form-control col-sm-4"></dd>
    <dt>Work Location</dt>
    <dd><input type="text" size="30" name="work_location" class="form-control col-sm-4"></dd>
    <dt>Assignment Primary Specialization Level 1</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_one" class="form-control col-sm-4"></dd>
    <dt>Assignment Primary Specialization Level 2</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_two" class="form-control col-sm-4"></dd>
    <dt>Assignment Primary Specialization Level 3</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_three" class="form-control col-sm-4"></dd>
    <dt>Assignment Primary Specialization Level 4</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_four" class="form-control col-sm-4"></dd>
    <dt>Assignment Primary Specialization Level 5</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_level_five" class="form-control col-sm-4"></dd>
    <dt>Assignment Primary Specialization Paths</dt>
    <dd><input type="text" size="30" name="assignment_primary_specialization_paths" class="form-control col-sm-4"></dd>
    <dt>Skill and Proficiency</dt>
    <dd><input type="text" size="30" name="skill_and_proficiency" class="form-control col-sm-4"></dd>
    <dt>Primary Contact</dt>
    <dd><input type="text" size="30" name="primary_contact" class="form-control col-sm-4"></dd>
    <dt>Assignment Audit</dt>
    <dd><input type="text" size="30" name="assignment_audit" class="form-control col-sm-4"></dd>
    <dt>Role Client Supply Demand Specialist</dt>
    <dd><input type="text" size="30" name="role_client_supply_demand_specialist" class="form-control col-sm-4"></dd>
    <dt>Candidates</dt>
    <dd><input type="number" size="30" name="candidates" class="form-control col-sm-4"></dd>
    <br>
    <dd><input type="submit" class="btn btn-primary" value="Add"></dd>
  </dl>
</form>
{% endif %}

<h1>{{ example }}</h1>
{% endblock %}
