<!DOCTYPE html>
<html>
<head>
  <title>Pod 55</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <br><br>
    <h1>Roles</h1>
    <br><br>
    <a class="btn btn-warning" role="button" href="{{ url_for('home') }}">back</a>
    <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">log out</a>
    <a class="btn btn-warning" role="button" href="{{ url_for('cards') }}">view cards</a>
    <br><br>
    <form action="{{ url_for('search') }}" method="get" class="from-group">
      <dl>
        <dt>Search:</dt>
        <dd><input type="text" name="query" id="myInput" onkeyup="myFunction()"></dd>
        <br>
        <dd><input type="submit" class="btn btn-info" value="Search" ></dd>
      </dl>
    </form>
    
    <table class="table table-hover" id="myTable">
      <thead class="thead-light">
        <tr>
          <th style="width:10%;">ID</th>
          <th style="width:30%;">Role</th>
          <th style="width:20%;">Talent Segment</th>
          <th style="width:20%;">Work Location</th>
          <th style="width:20%;">Location Radius</th>
        </tr>
      </thead>
      {% for entry in entries %}
      <tr class="entry">
        <ul class="entries">
          <td>{{ entry.assignment_id }}</td>
          <td>{{ entry.assigned_role }}</td>
          <td>{{ entry.talent_segment }}</td>
          <td>{{ entry.work_location }}</td>
          <td>{{ entry.location_radius }}</td>
      </ul>
      </tr>
      {% endfor %}
      <tr>
    </table>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>